<main>
  {{#if admin}}
  <h1>Vous êtes connecté</h1>
  {{/if}}

  <div class="project-card">
    {{#each projects}}
    <div class="project-card__container">
      <form class="project-card__form" method="post" action="/admin/project/{{_id}}" enctype="multipart/form-data">
        <input type="hidden" name="_id" value="{{_id}}">
        <input type="text" value="{{title}}" name="title">
        <div>
          <input type="file" name="image" />
          <img src="/img/project/{{image}}" alt="{{title}}">
        </div>
        <input type="text" name="subtitle" value="{{subtitle}}">
        <input type="text" name="stack" value="{{stack}}">
        <textarea name="description">{{description}}</textarea>
        <input type="text" name="link" value="{{link}}">
        <div class="flex">
          <button type="submit" class="btn">Modifier</button>
        </div>
      </form>
      <form method="get" action="/admin/project/{{_id}}">
        <button class="btn" type="submit">Supprimer</button>
      </form>
    </div>

    {{/each}}
  </div>
</main>