<main data-scroll-container class="projects">
  <div data-scroll-section class="projects__container">
    <h1 class="projects__title">Certains de mes projets</h1>
    {{#each projects as |project|}}
    <div data-scroll data-scroll-speed="{{project.speed}}" class="projects__project">
      <!-- <img src="/img/project/{{project.image}}" alt="{{project.title}}"> -->
      <div class="projects__project-texts">
        <h1>{{project.title}}</h1>
        <p>{{project.description}}</p>
        <a href="{{project.link}}" target="_blank" rel="noopener noreferrer" class="btn">Voir le site</a>
      </div>
    </div>
    {{/each}}
  </div>
</main>