<main class="projects-slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{#each projects as |project|}}
      <div class="swiper-slide">
        <div class="swiper-slide-texts">
          <h1>{{project.title}}</h1>
          <h2>{{project.subtitle}}</h2>
          <p>{{project.description}}</p>
          <p class="stack">{{project.stack}}</p>
          <a href="{{project.link}}" target="_blank" rel="noopener noreferrer" class="btn">Voir le site</a>
        </div>
        <div class="swiper-slide-image">
          <img src="/img/{{project.image}}" alt="{{project.title}}">
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="swiper-button">
    <div class="swiper-button-prev">
      <i data-feather="arrow-left"></i>
    </div>
    <div class="swiper-button-next">
      <i data-feather="arrow-right"></i>
    </div>
  </div>
</main>